:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  display: grid;
  place-content: center;
}

ul, h4 {
  margin: 0;
  padding: 0;
}

img {
  border-radius: 200px;
  height: auto;
  width: 50px;
}

ul li {
  border-radius: 4px;
  list-style: none;
  border: 1px solid #eee;
  margin-bottom: 16px;
  max-width: 320px;
  padding: 8px 32px;
}

.display_form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 2px;
}

textarea {
  font-family: inherit;
  margin-bottom: 8px;
  padding-left: 5px;
}




